
@font-face{
  font-family: 'NunitoBold';
  src: url("/src/assets/fonts/Nunito-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoExtraBold';
  src: url("/src/assets/fonts/Nunito-ExtraBold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Phosphate';
  src: url("/src/assets/fonts/PhosphateRRSolid.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
  